/*Global style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --main-color:#2980b9;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-bg:#eee;
    --border:.2rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none; border:none;
    text-decoration: none;
}

body {
    width: 100%;
    background-color: var(--light-bg);
}

h1 {
    font-size: 55px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 50px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 25px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 20px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
 
 
 *::selection{
    background-color: var(--main-color);
    color:var(--white);
 }
 

 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 section{
    padding:2rem;
    max-width: 1200px;
    margin:0 auto;
 }
 
 .heading{
    font-size: 4rem;
    color:var(--black);
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
 }
 
 .btn,
 .delete-btn,
 .option-btn{
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding:1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    color:var(--white);
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover,
 .delete-btn:hover,
 .option-btn:hover{
    background-color: var(--black);
 }
 
 .btn{
    background-color: var(--main-color);
 }
 
 .option-btn{
    background-color: var(--orange);
 }
 
 .delete-btn{
    background-color: var(--red);
 }
 
 .flex-btn{
    display: flex;
    gap:1rem;
 }
 
 .message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    background-color: var(--light-bg);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    z-index: 1100;
 }
 
 .message span{
    font-size: 2rem;
    color:var(--black);
 }
 
 .message i{
    cursor: pointer;
    color:var(--red);
    font-size: 2.5rem;
 }
 
 .message i:hover{
    color:var(--black);
 }
 
 .empty{
    padding:1.5rem;
    background-color: var(--white);
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
    color:var(--red);
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
 }
 
 .disabled{
    pointer-events: none;
    user-select: none;
    opacity: .5;
 }
 
 @keyframes fadeIn{
    0%{
       transform: translateY(1rem);
    }
 }
 
 .header {
    position: sticky;
    top:0; left:0; right:0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
 }
 
 .header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }
 
 
 .header .flex .navbar a{
    margin:0 1rem;
    font-size: 2rem;
    color:var(--black);
 }
 
 .header .flex .navbar a:hover{
    color:var(--main-color);
    text-decoration: underline;
 }
 
 
 .header .flex .icons > *{
    margin-left: 1rem;
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
 }
 
 .header .flex .icons > *:hover{
    color:var(--main-color);
 }
 
 .header .flex .icons a span{
    font-size: 2rem;
 }
 
 .header .flex .profile{
    position: absolute;
    top:120%; right:2rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding:2rem;
    width: 30rem;
    padding-top: 1.2rem;
    display: none;
    animation:fadeIn .2s linear;
 }
 
 .header .flex .profile.active{
    display: inline-block;
 }
 
 .header .flex .profile p{
    text-align: center;
    color:var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
 }

 .footer{
   background-color: var(--white);
   /* padding-bottom: 7rem; */
}

.footer .grid{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.footer .grid .box h3{
   font-size: 2rem;
   color:var(--black);
   margin-bottom: 2rem;
   text-transform: capitalize;
}

.footer .grid .box a{
   display: block;
   margin:1.5rem 0;
   font-size: 1.7rem;
   color:var(--light-color);
}

.footer .grid .box a i{
   padding-right: 1rem;
   color:var(--main-color);
   transition: .2s linear;
}

.footer .grid .box a:hover{
   color:var(--main-color);
}

.footer .grid .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding: 2.5rem 2rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--black);
}

.footer .credit span{
   color:var(--main-color);
}
 
 #menu-btn{
    display: none;
 }

/* Banner */
#banner {
    background-image: url("msc/banner1.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#banner h4 {
    padding-bottom: 15px;
}
#banner h1{
    color: #90EE90;
}
#banner button{
    background-image: url("msc/button.png");
    background-color: transparent;
    color: black;
    border: 0;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


/* Feature */
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    border:1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;   
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0, 62, 221, 0.1);
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    background-color: #cbc3e3;
    display: inline-block;
}
#feature .fe-box image{
    width: 100%;
    margin-bottom: 10px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* Featured Product */
#feaproduct {
    text-align: center;
}
#feaproduct h2 {
    font-size: 60px;
    line-height: 54px;
    color: #222;;
}
#feaproduct .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#feaproduct .pro img{
    width: 100%;
    border-radius: 20px;
}
#feaproduct .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#feaproduct .pro .desc {
    text-align: start;
    padding: 10px 0;
}
#feaproduct .pro .desc span {
    color: #606063;
    font-size: 12px;
}
#feaproduct .pro .desc h5 {
    padding-top: 7px;
    color: black;
    font-size: 14px;
}
#feaproduct .pro .desc i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#feaproduct .pro .desc h4 {
    padding-top: 7px;
    font-weight: 700;
    font-size: 15px;
    color: black;
}
#feaproduct .pro .basket {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #cbc3e3;
    color:black;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#feaproduct .procontainer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
















@media (max-width:768px){

    #menu-btn{
       display: inline-block;
    }
 
    .header .flex .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       border-top: var(--border);
       border-bottom: var(--border);
       background-color: var(--white);
       transition: .2s linear;
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .flex .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
 
    .header .flex .navbar a{
       display: block;
       margin:2rem;
    }
 
    .home-bg .home .slide .content{
       text-align: center;
    }
 
    .home-bg .home .slide .content h3{
       font-size: 3rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .heading{
       font-size: 3rem;
    }
 
    .flex-btn{
       flex-flow: column;
       gap:0;
    }
 
    .quick-view form .row .image-container .sub-image img{
       width: 8rem;
    }
 
    .checkout-orders form .flex .inputBox{
       width: 100%;
    }
 
 }